.restaurantDetails {
    margin-top: 5%;
    position: absolute;
    overflow: hidden;
    background: white;
    width: 400px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px;
}


.logo-style {
    width: 300px;
    position: absolute;
    font-family: sans-serif;
    margin: .5em .5em .5em 15%;
    fill: #e08282;
    color: #e08282;
    -webkit-text-stroke: 1px black;
    opacity: 0.8;
}

.restaurantName {
    position: relative;
    text-align: center;
    margin-top: 20%;
    margin-left: 5%;
}

.rating-line {
    position: absolute;
    left: 11%;
    top: 68.5%;
    width: 75%;
    height: 1px;
    background: #e08282;
}
.stars{
    position: absolute;
    text-align: center;
    margin-top: 100%;
    margin-left: 25%;
}
.fa-star{
    padding: 5px 8px;
    color:#e08282 ;
}
.fa-star-half-alt{
    padding: 5px 8px;
    color:#e08282 ;
}
.cuisines{
    position: relative;
    text-align: center;
    overflow: visible;
}
.costfor2{
    position: relative;
    text-align: center;
}

.hours{
    position: relative;
    text-align: center;
}

.face{
    position: relative;
    text-align: center
}