
body{
    margin: 0;
    overflow: hidden;
    background-image: url("../css/wood.jpg");
    background-size: 100% 100%;
}


circle {
    fill: #e08282;
    opacity: 0.7;
}

circle :hover {
    fill: green;
}

text {
    text-shadow: 5px 5px 20px;
    font-family: sans-serif;
}

.tick text {
    font-size: 1.8em;
    fill:   #82e0e0;
}

.tick line {
    stroke:  #82e0e0;
    stroke-width: 1px;
}

.axis-label {
    font-size: 5em;
    font-family: sans-serif;
    margin: .5em .5em .5em 15%;
    fill: #b1e082;
    color: #b1e082;
    -webkit-text-stroke: 3px  #82e0e0;
    opacity: 0.9;
}

.title {
    font-size: 3.7em;
    fill: #635F5D;
}
#menus{
    font-size: 1.5em;
    text-align: center;
    top: 10%;
    margin-top: 6%;
}
#menus select{
    font-size: 2em;
}
#menus select option{
    font-size: 1rem;
}


a{
    float: left;
    margin-top: 15px;
    display: inline-block;
    color: #e08282;
    font-family: poppins, serif;
    font-size: 14px;
    padding: 3px 10px;
}
a:hover{
    background: #fff;
    color:#333;
}
