.smartphone {
    position: relative;
    width: 520px;
    height: 700px;
    margin: 5% auto auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    box-shadow: 5px 5px 20px
}

/* The horizontal line on the top */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d4d4d4;
    border-radius: 10px;
}

/* The circle on the bottom*/
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -68px;
    transform: translate(-50%, -50%);
    background: #d4d4d4;
    border-radius: 50%;
}

/* SVG will be here */
.smartphone .content {
    width: 480px;
    height: 590px;
    background: white;
}

#location-id {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-size: 25px 25px;
    background-color: white;
    background-image: url('../css/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

#cuisine{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-size: 25px 25px;
    background-color: white;
    background-image: url('../css/food-icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
#price{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-size: 25px 25px;
    background-color: white;
    background-image: url('../css/Money.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

#name{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-size: 25px 25px;
    background-color: white;
    background-image: url('../css/Menu.jpg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}

.filter-container{
    margin-top: 20%;
}

body{
   background-image: url("../css/wood.jpg");
    background-size: 100% 100%;
}

.filter-button{
    background-color: #b1e082;
    width: 100%;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 20px;
    border-radius: 8px;
}